*{
	margin:5px;
	padding:5px;
	;
}
body
{
	background-color:#191919;
	color:white;
}
img
{
	height:60%;
	width:60%;
	position:center;
}
header{
	text-align:center;
}
nav{
	text-align:center;
}
section
{
	background-color:#222222;
	width:70%;
	float:left;
}
aside
{
	background-color:#9B9B9B;
	width:25%;
	float:left;
}
footer
{
	background-color:#003300;
	width:98%;
	float:left;
}
h2
{
	background-color:gold;
	text-align:center;
}
#img1
{
	text-align:center
}
li{
	list-style-type:square;
}
@media screen and (max-width:500px)
{
	body{
		font-size:12px;
	}
	aside{
	background-color:#9B9B9B;
	width:98%;
	float:left;
	}
	section
	{
	background-color:#222222;
	width:98%;
	float:left;
	}
}